<a href="https://colab.research.google.com/github/VicenteJFonseca/previs-o_pre-o_carros/blob/main/previs%C3%A3o_pre%C3%A7os_carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fonte dados: https://www.kaggle.com/datasets/vagnerbessa/average-car-prices-bazil


---

In [1]:
import os
import pickle
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
fipe22 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/fipe_2022.csv", delimiter = ",")

In [6]:
fipe22.head()

,year_of_reference,month_of_reference,fipe_code,authentication,brand,model,fuel,gear,engine_size,year_model,avg_price_brl,age_years
0,2022,January,038001-6,vwmrywl5qs,Acura,NSX 3.0,Gasoline,manual,3.0,1995,43779.0,28
1,2022,January,038001-6,t9mt723qhz,Acura,NSX 3.0,Gasoline,manual,3.0,1994,42244.0,29
2,2022,January,038001-6,tr5wv4z21g,Acura,NSX 3.0,Gasoline,manual,3.0,1993,40841.0,30
3,2022,January,038001-6,s2xxsjz3mt,Acura,NSX 3.0,Gasoline,manual,3.0,1992,39028.0,31
4,2022,January,038001-6,rtm9gj7zk8,Acura,NSX 3.0,Gasoline,manual,3.0,1991,35678.0,32

In [8]:
fipe22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290275 entries, 0 to 290274
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   year_of_reference   290275 non-null  int64
 1   month_of_reference  290275 non-null  object
 2   fipe_code           290275 non-null  object
 3   authentication      290275 non-null  object
 4   brand               290275 non-null  object
 5   model               290275 non-null  object
 6   fuel                290275 non-null  object
 7   gear                290275 non-null  object
 8   engine_size         290275 non-null  float64
 9   year_model          290275 non-null  int64
 10  avg_price_brl       290275 non-null  float64
 11  age_years           290275 non-null  int64
dtypes: float64(2), int64(3), object(7)
memory usage: 26.6+ MB